body {
    background: url('bg.png');
    margin: 0px;
    padding: 15px;
}

* {
    font-family: mono;
    color: #FEFEFE;
    font-size: 16px;
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 0px black;
}

p {
    margin: 0px;
    padding: 0px;
}

a:link,
a:visited,
a:active {
    color: white;
    text-decoration: none;
}

div#root > div {
    display: flex;
}

div#root > div > div {
    margin: 15px;
    width: 500px;
}

div#root > div > div > div {
    background: hsla(0, 0%, 0%, 0.3);
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.1) 5px, hsla(0, 0%, 100%, 0.1));    
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
    border-radius: 3px;
    border-right: 1px solid hsla(0, 0%, 0%, 1);    
    box-shadow: -1px -1px 0px hsla(0, 0%, 100%, 0.3), 1px 1px 2px black;
    display: block;
    margin: auto;
    margin-bottom: 15px;    
    padding: 15px;
    text-align: justify;
}

input {
    background: transparent;
    border: 0px;
    width: 100%;
}

.message {
    cursor: pointer;
}
